.env
.env.local
/build/
build/
node_modules/
.vercel/
.vercel
.env*.local
*.jks
*.keystore
upload_certificate.pem
upload_certificate_reset_*.pem
new-upload-key.jks
android/app/src/main/res-icon-backup-*/
android/app/src/main/res-icon-before-resize-*/
